
h1, p, body, html{
	padding: 0px;
	margin: 0px;
}

body,html {
	height:100%;
}

#left_column, #middle_column, #last_column{
	width:296px;
	background-color: red;
	margin:20px;
	padding:10px;
	float:left;
	border: 2px solid black;
	border-radius: 5px;
}

#last_column{
	width:574px;
	float: left;

	
}

#menu ul li{
	display:inline-block;
	margin: 5px;
	font-family: comic sans-serif;
	
}

#menu ul li a{
	text-decoration: none;
	font-family: comic sans-serif;
}


ul li{

	font-family: comic sans-serif;
}

p
{
	
	line-height: 1.7;
	font-family: comic sans-serif;
}

h1
{
	font-family: verdana;
	font-size: 50px;
    display: inline-block;
}

h1.textpic { 
   position: absolute; 
   top: 5px; 
   left: 0; 
   width: 100%; 
   font-family: verdana;
}



h2.textpic{ 
   position: absolute; 
   top: 60px; 
   right: 550px;
   width: 100%; 
   font-family: verdana;
}



h3
{
	font-family: comic sans-serif;
	color: #9f1f2c;
}

h4
{
	font-family: comic sans-serif;
}

.clear {
	clear:both;
}

#article{

	height:100%;
	
}

.column1{
	width:48%;
	height: 100%;
	/*margin-top: -20px;*/
	float:left;
	/*position: fixed;*/
	background-image: url("sophieapple-84.jpg");
	overflow: hidden;
}

.column2{
	width:48%;
	
	float:right;

	padding-left: 10px;
	margin-top: -10px;
	height:100%;
	overflow:scroll;
	overflow-x: hidden;

}

.footer{
	width:935px;
	height: 200px;
	
	display: inline;
 
}



#photo{
	
	text-align: center;
	margin-top: 20px;
}

.clear{
	clear:both;
}

.wimage{
	text-align: center;
	margin-top: 175px;
}

.wimage img {
	width:135px;
	height:40px;

}

h1{
	
}


h2 {
    font-size: 17px;
    line-height: 20px;
    margin: 0 40px 10px;
    text-align: center;
}

#signup{
    width: 296px;
    background-color:blue;
    margin: 20px;
    padding: 10px;
    float: left;
    border: 2px solid black;
    border-radius: 5px;
}

#loginName{
    width: 296px;
    float: left;
    border: 2px solid black;
    border-radius: 5px;
}

.ulnavbar {
    list-style-type: none;
    margin: 0;
    padding: 10;
    overflow: hidden;
    background-color: white;
    font-family: comic sans-serif
}

.linavbar {
    float: right;
}

li a {
    display: block;
    color: green;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


.imagetext{

	position: absolute;
    z-index: 100;
    left: 40px;
    top: 30px;

}

.imagetextName{

	position: absolute;
    z-index: 100;
    left: 76px;
    top: 53px;

}


.imagetextF{

	position: absolute;
    z-index: 100;
    left: 40px;
    top: 3px;
    font-size: 100px;

}



.imagetextK{

	position: absolute;
    z-index: 100;
    left: -6.1px;
    top: 78px;
    font-size: 100px;
}

.imagetextLName
{
    position: absolute;
    z-index: 100;
    left: 76px;
    top: 99px;

}

.imagetextJC
{
    position: absolute;
    z-index: 100;
    left: 76px;
    top: 158px;
    font-size: 17.8PX;
    -webkit-text-stroke: 0.5px #ffffff;
    
}



/*responsive websit stuff*/





@media screen and (max-width: 960px) {
	
	#container {

	width: 100%;
	}

	.column1, .column2 {

		width: 100%;
	}
}


@media screen and (max-width: 960px) and (min-width: 360px) {

.column2 {

		height: auto;
	}
}



.clear {
		clear: both;

}

}






    