.cvcontainergrey
{

background-color: beige;
display: block;

}

p
{
	font-family: verdana;
}

h1
{
	font-family: verdana;
	font-size: 50px;
    display: inline-block;
}

h3
{
	font-family: verdana;
}

h4
{
	font-family: verdana;
}

.pinkheadbanner
{
	padding-right: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top:10px;
	padding-bottom: 10px; 
	background-color: #c5ccd8;
}



.ulnavbar {
    list-style-type: none;
    margin: 0;
    padding: 10;
    overflow: hidden;
    background-color: white;
}

.linavbar {
    float: right;
}

li a {
    display: block;
    color: green;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


#wrapper
{
width:1024px;
height:768px;

}

#banner{
width: 1024px;
heiht: 220px;
background-color: orange;

}

#menutop{
width: 1024px;
height: 35px;
background-color: green;
}

#columnRight{
width: 100px;
height: 438px;
background-color: yellow;
float: right;
}

#columnLeft{
width: 100px;
height: 438px;
/*background-color: red;*/
float: left;
}


#content{
width: 804px;
margin-left:220px
}

#footer{
width: 1024px;
/*height: 75px;
background-color: black;*/
}

.container-grey {
    float: left;
    background-color: #E9E4E2;
    position: relative;
    max-width: 100%;
}	

.left_of_img {
    padding-top: 10px;
    padding-right: 20px;
    padding-left: 22px;
    padding-bottom: 20px;
    font-size: 1em;
}

.img-responsive, .thumbnail>img, .thumbnail a>img, .carousel-inner>.item>img, .carousel-inner>.item>a>img {
    display: initial;
    max-width: 100%;
    height: auto;
}

.rightBodyImage {
    margin-top: -18px;
    margin-bottom: 0px;
    float: right;
    clear: left;
    display: block;
    width: 270px;
}

.container-grey-small-content {
    float: left;
    background-color: #E9E4E2;
    position: relative;
    width: 1024px;
}

#bg {
    float: left;
    position: fixed;
    top: -12%;
    left: -50%;
    width: 150%;
    height: 250%;
    background-image: url("C:\Users\Tech-H05\Desktop\sophieapple-85.jpg");
}
#bg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}


.relative{position:relative; width:600px;}
.absolute-text{position:absolute; bottom:0; font-size:24px; font-family:"verdana";     right: -70%;
    top: 80%;
.absolute-text a{font-size:16px; color:#b92b27;}

#content, html, body {
    height: 98%;
}


#left {
    float: left;
    width: 50%;
    height: 100%;
    background: url("/project/sophieapple-85.jpg");
    }

#right {
    float: right;
    width: 50%;
    background: blue;
    height: 100%;
    overflow: scroll;
}

/*classes from the advanced.css*/

#article{
    width:935px;
    height:710px;
    background-color: red;
}

.column1{
    width:48%;
    height: 710px;
    padding-left: 130px;
    float:left;
}

.column2{
    width:20px;
    
    float:left;
    padding-top: 30px;
    
    border:1px solid;


}

#photo{
    width:48%;
    }